{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/members/member-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="member-container">
  <div class="member-img">
    <img src="{% static 'images/sk8r-boi-member.svg' %}" alt="A skater boy member" />
  </div>
  <div class="member-details">
    <h1>{{ member.username }}</h1>
    <p>Timezone: {{ member.timezone }}</p>
    <p>Corporation: {{ member.corporation }}</p>
    <p>Current Status: {{ member.current_status }}</p>
    <p>Member State: {{ member.member_state }}</p>
    <p>Join Date: {{ member.join_date }}</p>
    <p>Registry Number: {{ member.registry_number }}</p>
    <p>Number of Characters: {{ member.num_of_characters }}</p>
    <p>Graduation Date: {{ member.graduation_date }}</p>
    <p>Interviewed By: {{ member.interviewed_by }}</p>
    <p>ESI Checked By: {{ member.esi_checked_by }}</p>
    <p>Onboarded By: {{ member.onboarded_by }}</p>
    <p>Attrition Headcount: {{ member.attrition_headcount }}</p>
    <p>Interview Notes: {{ member.notes }}</p>

    <div class="member-actions">
        <a href="{% url 'member_update' member.id %}" class="btn warn">Edit</a>
        <a href="{% url 'member_delete' member.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="comments-container">
  <section class="comments">
    <div class="subsection-title">
      <h2>Comments</h2>
      <img
        src="{% static 'images/member-cone.svg' %}"
        alt="An ice cream cone member"
      />
      <img src="{% static 'images/member-onigiri.svg' %}" alt="A member as onigiri" />
      <img
        src="{% static 'images/kitty-kabob.svg' %}"
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Comment</h3>
    <form action="{% url 'add_comment' member.id %}" method="post" class="subsection-content" autocomplete="off">
      {% csrf_token %} 
      {{ comment_form.as_p }}
      <button type="submit" class="btn submit">Add Comment</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Comment</th>
          <th>Author</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in member.comments.all %}
          <tr>
            <td>{{comment.comment_text}}</td>
            <td>{{comment.user}}</td>
            <td>{{comment.created_at}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}