{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/1024 Logo No BG.png' %}"/>
    <title>Recruitment Tracker</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/Banner No Background.png' %}" alt="Vapor Lock Logo" />
        </a>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'member_create' %}">New Capsuleer</a></li>
            <li><a href="{% url 'recruitment' %}">Recruitment</a></li>
            <li><a href="{% url 'members_index' %}">Members</a></li>
            <li><a href="{% url 'historical' %}">Recruitment History</a></li>
            <li><a href="{% url 'graduation' %}">TL Graduates</a></li>
            <li><a href="{% url 'attrition' %}">Attrition</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_staff %}
              <li><a href="{% url 'analytics' %}">Analytics</a></li>
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
